/*
scripts/ea_header.scss
Simplified emulation of the header bar for the EA Games site.
*/

// ea logo part 1 http://web-static.ea.com/atlas/ui/1416866790/skin/basiq/img/header-logo-bg.png?_sw=1416866790
// ea logo part 2 http://web-static.ea.com/atlas/ui/1416866790/skin/basiq/img/logo.png?_sw=1416866790

.header {
  .navigation {
    max-width: 45em;
    background: $secondary-color;
    box-shadow: 1px 2px 5px $primary-color;
    margin-top: 1em;
    overflow: visible;
    .navbar-header {
      position: absolute;
      background: url('http://web-static.ea.com/atlas/ui/1416866790/skin/basiq/img/header-logo-bg.png?_sw=1416866790');
      width: 92px;
      height: 100px;
      top: -16px;
      display: inline-block;
      position: relative;
      .navbar-brand {
        background: url('http://web-static.ea.com/atlas/ui/1416866790/skin/basiq/img/logo.png?_sw=1416866790');
      }
    }

    .pure-menu-horizontal ul.pure_menu_list > li {
      background-color: $secondary-color;
      color: $primary-color;
      cursor: pointer;
      position: relative;
      height: 64px;
      width: 7em;
      margin-right: 4px;
      text-align: center;
      vertical-align: middle;
      text-transform: uppercase;
      font-size: .9rem;
      &.active {
        border: solid 1px lighten($primary-color, 80%);
        background-color: lighten($accent-color, 50%);
      }
      &:hover {
        background-color: lighten($accent-color, 48%);
      }
      a {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 99%;
        height: 99%;
        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: inline-block;
        }
      }
    }

    .more_menu {
      position: relative;
      display: none;
    }
  }
}

@media screen and (max-width: 48em) {
  .header {
    .navigation {
      .pure-menu {
        z-index: 100;
        background: $secondary-color;
        position: fixed;
        top: 0;
        left: 0;
      }
      .pure-menu-horizontal ul.pure_menu_list {
        margin: 0;
        margin-top: 5px;
        padding-left: 1px;
        & > li {
          height: 30px;
          .navbar-header {
            z-index: 102;
            top: -30px;
          }
        }
      }
      .more_menu {
        z-index: 101;
        position: fixed;
        top: 45px;
        right: 22px;
        width: 0.5em;
        display: block;
        color: lighten($accent-color, 30%);
        font-size: 0.75em;
      }
    }
  }
  .container {
    margin-top: 75px;
  }

  .navigation {
    .pure-menu-horizontal {
      overflow-y: scroll;
      overflow-x: hidden;
    }

    .pure-menu-horizontal .pure-menu-list {
      display: inline-block;
    }

    .pure-menu-horizontal {
      white-space: nowrap;
      overflow-y: hidden;
      overflow-x: auto;
      -ms-overflow-style: none;
      -webkit-overflow-scrolling: touch;
      /* a little extra padding for this style to allow for scrollbars */
      padding: .5em 0;
    }

    .pure-menu-horizontal::-webkit-scrollbar {
      display: none;
    }
  }

}

.footer {
  text-align: center;
  padding-top: 0.5em;
  font-size: 1.5em;
}
