// bower:scss
// endbower

/* Include various scss files into compilation */
@import 'variables';
@import 'global_overrides';
@import 'responsive';
@import 'ea_header';
@import 'directives/gameListing/all';

/* Don't really have a place to put this, so will just let it live in main for now */
.browsehappy {
  margin: 0.2em 0;
  background: $accent-color;
  color: $primary-color;
  padding: 0.2em 0;
}
